*{margin: 0; padding: 0;
 box-sizing: border-box; 
 font-family: 'Poppins', sans-serif;}


p{
    font-size: medium;
    line-height: 1.6;
    font-weight: 400;
    color: #606060;
}
i{
    color: #f6cd;
}

h1{
    margin: 5px 5px;
    text-align: center;

}
nav a {
    text-decoration: #000;
    padding: 20px;
    text-align: right;
    float: left;
    color: rgb(148, 130, 130);
} 

/* .navbar-brand{
    color: rgb(19, 1, 1)!important;
    font-size: medium;
    font-weight: bold;
} */

/* .header-section{
    width: 100%;
    height: 100vh;
    color: white;
    text-align: center;
    position: relative;
    
}


/* .header-buttons a{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 5px 5px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
} */
/* .header-buttons a:hover{
    
    text-transform: uppercase;
    text-shadow: aquamarine;
    background-color:whitesmoke;
    
} */

.intro{
    width: 100%;
    height: 100vh;
   background-image: linear-gradient(rgba(231, 242, 243, 0),rgba(239, 247, 246, 0)),url("../images/Header.jpg");
   background-repeat:no-repeat ;
   background-size: 100% 100%;
    margin-top:10%;
    padding: 20px;
    margin-bottom: 10px;
    text-decoration: black;
    text-transform: uppercase;
  
}
.center-div p{
    font-size: 1.3rem;
    padding: 10px 0 2px 0;
  
}
/* .servicediv{
    background: #f7f7f9;
    padding: 50px 0;
    margin-bottom: 50px;
    
} */
.headings{
    margin-bottom: 50px;
}
.headings h1{
    font: 1.5rem sans-serif;
    font-weight: 400;
   text-transform: uppercase;
}
.names h1{
    color:#1e5799;
    font: 1.5rem sans-serif;
    font-weight:bold;
   text-transform:capitalize;
}
.details{
    background: #d4e9f100;
    padding: 15px;
    margin: 35px 35px;
}
.detail-boxes p{
    font: 1em sans-serif;
    font-weight: 600;
    padding: 20px;
}
.service-icons{
    justify-content: center;
    display: flex;
    align-items: center;
  
  
}
.progress-bar{
    margin-bottom: 25px;
    padding: 5px;
    height: 0.75rem;
}
.service-text p{
    color: black;
    font-weight:400 ;
    text-transform: uppercase;
}
.people{
    text-align: center;
    text-transform: capitalize;

}
.text , .card-header,.card-title,.card-text{
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    justify-content: center;
}
.card-header{
    margin: 5px,9px!important;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.card-title{
    margin: 5px,9px!important;
    padding: 10px;
    text-transform: capitalize;
    font-weight: bold;
}
.card-text{
    margin: 5px,9px!important;
    padding: 10px;
    text-transform: capitalize;
    font-weight: bold;
}
.card a{
    border: 2px solid;
    border-radius: 100px;
    margin: 5px 5px;
    padding: 12px 35px;
    outline: none;
    color:#000;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    justify-content: center;
    align-items: center;
    border-color: #a4bcd873;
    background-color:#16c9f6;
    position: relative;
}
.card:hover .card a:hover{
    border: 1px solid;
    background-color:#a9cdf7;
    color:#fff;
    font-weight:bold;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.6);
}
.card:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.664);
}
.card:hover .card-header{
    color: rgb(156, 177, 240);
}

.pricing{
  
    padding: 5px;
    position: relative;
    margin: 10px 10px;
}
.pricing:before{
    
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:  -1;
    background:linear-gradient(160deg, #75e0f533 55%, rgba(255, 255, 255, 0.966) 0%) ;
}
.pricing-box{
    padding: 25px;
    margin: 25px 25px;
}
.price-text{
    text-align: center;
    text-transform: capitalize;
}

.clients{
    width: 100%;
    height: 100vh;
    padding: 50px;
    position: relative;
    margin-bottom: 30px;

}
.client-text{
    text-align: center;
    text-transform: capitalize;
}
.client-box{
    
    padding: 25px;
    margin: 10px 25px;
}
.customer-feedbacks{
    width: 100%;
    height: 100vh;
    padding: 80px 0;

}
.box{
    border: 1px solid;
}

.contactus{
    width: 100%;
    height: 100vh;
    padding: 50px;
    position: relative;
    margin-top: 130px;
}
form:hover .form-button button{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 50px 50px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.6);
}
.form-button button{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 5px 5px;
    padding: 12px 35px;
    outline: none;
    color: red;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    /* background: transparent; */
}
::placeholder{
    text-transform: capitalize;
    font-weight: bold;
    font-weight: 0.85rem;
}

.educ{
    margin: 10px 10px;
    padding: 5px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  html{
    scroll-behavior: smooth;
  }
  body{
    background: #ff7979;
  }
  ::selection{
    color: #fff;
    background: #ff7979;
  }
  .wrapper{
    max-width: 1080px;
    margin: 50px auto;
    padding: 0 20px;
    position: relative;
  }
  .wrapper .center-line{
    position: absolute;
    height: 100%;
    width: 4px;
    background: rgb(193, 248, 252);
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
  }
  .wrapper .row{
    display: flex;
  }
  .wrapper .row-1{
    justify-content: flex-start;
  }
  .wrapper .row-2{
    justify-content: flex-end;
  }
  .wrapper .row section{
    background: rgba(247, 248, 250, 0.87);
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
  }
  .wrapper .row section::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    top: 28px;
    z-index: -1;
    transform: rotate(45deg);
  }
  .row-1 section::before{
    right: -7px;
  }
  .row-2 section::before{
    left: -7px;
  }
  .row section .icon,
  .center-line .scroll-icon{
    position: absolute;
    background: #f2f2f2;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ff7979;
    font-size: 17px;
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
  }
  .center-line .scroll-icon{
    bottom: 0px;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
  }
  .row-1 section .icon{
    top: 15px;
    right: -60px;
  }
  .row-2 section .icon{
    top: 15px;
    left: -60px;
  }
  .row section .details,
  .row section .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .row section .details .title{
    font-size: 22px;
    font-weight: 600;
  }
  .row section p{
    margin: 10px 0 17px 0;
  }
  .row section .bottom a{
    text-decoration: none;
    background: #ff7979;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    /* font-size: 17px; */
    font-weight: 400;
    transition: all 0.3s ease;
  }
  .row section .bottom a:hover{
    transform: scale(0.97);
  }
  @media(max-width: 790px){
    .wrapper .center-line{
      left: 40px;
    }
    .wrapper .row{
      margin: 30px 0 3px 60px;
    }
    .wrapper .row section{
      width: 100%;
    }
    .row-1 section::before{
      left: -7px;
    }
    .row-1 section .icon{
      left: -60px;
    }
  }
  @media(max-width: 440px){
    .wrapper .center-line,
    .row section::before,
    .row section .icon{
      display: none;
    }
    .wrapper .row{
      margin: 10px 0;
    }
  }

  .hub{
    margin:20px 10px;
    padding: 15px;
   
    text-decoration: black;
    text-transform: uppercase;
}